# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/relasi_db?schema=public"

# NVIDIA NIM AI Model API Key (Llama 3.2 Vision / AI Triage)
NVIDIA_API_KEY="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"
